@media (min-width: 768px) and (max-width: 1024px) {
  .section-header .section-title {
    font-size: 22px;
  }
  #hero-area .contents {
    padding: 148px 0 48px;
  }
  #hero-area .contents h1 {
    font-size: 26px;
  }
  .intro-img {
    padding: 130px 0;
  }
  
  .contents .head-title {
    font-size: 24px !important;
  }
  .contents h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 12px 5px;
    font-size: 13px;
    margin-left: 15px;
  }
  .mainmenu-area .menu-button {
    line-height: 46px;
  }
  .item-boxes h4 {
    font-size: 16px;
  }
  #carousel-area .carousel-item .carousel-caption {
    top: 35%;
  }
  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 18px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 50px;
  }
  .call-action .cta-trial h3 {
    font-size: 18px;
  }
  
  #services{
    margin-left: 170px;
  }

  #treatments{
    margin-left: 180px;
  }

  #about .div-slider {
    margin-left: 100px;
    
  }

  .counters .facts-item {
    margin-bottom: 30px;
  }

  .pricing-table .pricing-details ul li {
    font-size: 13px;
  }

  .footer-social li {
    margin-right: 2px;
  }
  .widget {
    margin-top: 30px;
  }
}

@media (max-width: 640px) {
  .controls .btn {
    padding: 10px 24px;
  }
  .bg-white .collapse.show {
    background: #fff;
  }
  .navbar-toggleable-sm > .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar-expand-md .navbar-brand, .navbar-expand-md .navbar-toggler {
    margin: 12px 15px;
  }
  .navbar-expand-md .navbar-nav .active > .nav-link, .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link.active::before, .navbar-expand-md .navbar-nav .nav-link.open, .navbar-expand-md .navbar-nav .open > .nav-link {
    background: #ddd;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 4px 12px;
    text-align: center;
    margin-bottom: 3px;
    margin-left: 0;
  }
  .navbar-expand-md .navbar-nav .nav-link::before {
    display: none;
  }
  .mainmenu-area {
    padding: 0;
  }
  #carousel-area .carousel-item .carousel-caption {
    top: 40%;
  }
  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 16px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 22px;
  }
  #carousel-area .carousel-item .carousel-caption h4 {
    font-size: 14px;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 8px 5px;
    padding: 7px 16px;
    text-transform: capitalize;
    font-size: 14px;
  }
  .section-header .section-title {
    font-size: 22px;
  }
  .call-action .cta-trial h3 {
    font-size: 22px;
  }
  
  #hero-area .contents h1 {
    font-size: 18px;
  }
  .contents .head-title {
    font-size: 18px !important;
  }
  .contents h4 {
    font-size: 18px;
    line-height: 30px;
  }
  .mainmenu-area .menu-button {
    display: none;
  }
  .intro-img {
    padding: 100px 0;
  }
  .menu-wrap {
    padding: 10px;
  }
  .icon-list a {
    padding: 5px 0;
  }
  .icon-list a::before {
    top: 5px;
  }
  .bg-faded {
    background: #fff !important;
  }
  #about {
    top: 64%;
  }




@media (min-width: 320px) and (max-width: 480px) {
  .navbar-toggleable-sm > .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .bg-white .collapse.show {
    background: #fff;
  }
  .mainmenu-area {
    padding: 0;
  }
  .bg-faded {
    background: #fff !important;
  }
  .navbar-expand-md .navbar-brand, .navbar-expand-md .navbar-toggler {
    margin: -5px 15px 5px 15px;
    
  }
  .navbar-expand-md .navbar-nav .active > .nav-link, .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link.active::before, .navbar-expand-md .navbar-nav .nav-link.open, .navbar-expand-md .navbar-nav .open > .nav-link {
    background: #f1f1f1;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 5px 12px;
    text-align: center;
    margin-bottom: 3px;
    margin-left: 0px;
  }
  .mainmenu-area .menu-button {
    display: none;
  }
  .navbar-expand-md .navbar-nav .nav-link::before {
    display: none;
  }
  .navbar-brand{
    padding-left: 30px;
    padding-top: 50px;
  }
  .navbar-brand h3{
    font-size: 18px;
  }
  .navbar-brand img{
    max-width: 50px;
  }
  .section-header .section-title {
    font-size: 20px;
    line-height: 30px;
  }
  .contents .head-title {
    font-size: 16px !important;
  }
  .contents h4 {
    font-size: 18px;
    line-height: 30px;
  }
  #carousel-area .carousel-item .carousel-caption {
    top: 40%;
  }
  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 13px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 25px;
    line-height: 50px;
  }
  #carousel-area .carousel-item .carousel-caption h4 {
    font-size: 15px;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 8px 5px;
    padding: 7px 16px;
    text-transform: capitalize;
    font-size: 14px;
  }
   
  #carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
    background: transparent !important;
  }
  #carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
    background: transparent !important;
    border: none !important;
  }
  .call-action .cta-trial h3 {
    font-size: 22px;
    line-height: 23px;
  }
  .call-action .cta-trial p{
    font-size: 15px;
    margin-top: -20px;
  }
  .text-right {
    text-align: left !important;
  }
 
  .controls .btn {
    font-size: 12px;
    text-transform: capitalize;
  }
  #cta h5 {
    font-size: 18px;
    line-height: 30px;
  }
  #cta .btn {
    margin: 10px 0;
  }

  .call-action {
    background-image: url(../image/pexels-max-vakhtbovych-6899550.jpg);
    background-size:450px 1000px;
    margin-bottom: -50px;
    margin-top: 10px;
    }
    
  #services {
    
  }
  #services .title{
    font-size: 70px;
    
  }
  #services img{
    margin-left: -25px;
    width: 100%;
  }

  #treatments .title{
    font-size: 60px;
  }
  #treatments img{
    margin-left: -15px;
    width: 100%;
  }
  

  #about .slide {
    top: 0px;
    left: -11px;
    opacity: 0;
    width: 410px;
    height: 470px;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;

    transform: scale(1);

    transition: .5s ease-in-out 0.5s;
    
  }

  #about .nav-dots .nav-dot {
    display: none;
    
  }
 
  .counters .facts-item {
    margin-bottom: 20px;
  }
  #contact .section-title {
    font-size: 22px;
  }
  .social-icons ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 0px;
  }
  .post-meta ul li {
    line-height: 28px;
  }
  .widget {
    margin-top: 30px;
  }
  #about-area .about-thumb-2 {
    top: 64%;
  }
  .contact-deatils {
    margin-top: 30px;
  }
  #copyright p {
    line-height: 24px;
    font-size: 11px;
  }
  #copyright .nav-inline .nav-link {
    padding: 8px 0;
    font-size: 11px;
  }
  .float-right {
    float: left !important;
  }
  .owl-theme .owl-controls .owl-page span {
    width: 16px;
    height: 16px;
    margin: 2px 4px;
    filter: drop-shadow(0 0 0.10rem rgba(0, 0, 0, 0.158));
  }